{% extends "layout.html" %}

{% block content %}
     <!-- about section -->
  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <h6>
              About
            </h6>
            <div class="custom_heading-container">
              <h2>
                EchriDar
              </h2>
              <hr>
            </div>
            <p>
              Buying real estates can be hard and challenging in most cases. Buyers are assigned to do a
              lot of research to find the most appropriate and cost-effective real estate.
              For that reason, the main idea of EchriDar is to make this task easier.
              This project is developped by a group of engineering students who used machine learning to predict real estates prices.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="static/images/logo1.png" alt="">
          </div>
        </div>
      </div>

    </div>
  </section>
</body>
</html>
{% endblock content %}
